
<form action="/searches/new" method="POST">
  <p>Location: <input type="text" name="location" required></p>
  <p>Price Range: <select name="price">
                    <option value="1">$</option>
                    <option value="2">$$</option>
                    <option value="3">$$$</option>
                    <option value="4">$$$$</option> 
                  </select></p>
  <p>Category: <input type="text" name="category_filter"></p>
  <input type="submit" value="Submit">
</form>







