
<form action="/searches/new" method="POST">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Location</span>
    <input type="text" name="location" required class="form-control">
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Category</span>
    <input type="text" name="category_filter" class="form-control" placeholder="Examples: Chinese, French, Mexican">
  </div>
  <br>
  <input type="submit" value="Submit" class="btn btn-primary">
  
</form>







