.login {
  display: none;
}

.register {
  display: none;
}

.btn-group {
  float: right;
  padding-top: 3%;
  padding-right: 10%;
}

.jumbotron {
  padding-left: 10% !important;
  margin-bottom: 0px !important;
}


.list-group-item, .result {
  text-align: center;
}

.play, .result {
  margin-top: 20px;
}

#result {
  text-align: center;
}

#logout {
  margin-top: 2%;
  margin-left: 5%;
}