<!-- <form action="/register" method="get">
  <input type="submit" value="Register">
</form>

<form action="/login" method="get">
  <input type="submit" value="Login">
</form> -->

<h1>TITLE</h1>  

<%= erb :"index/login" %>
<%= erb :"index/register" %>
